 * {
   margin: 0;
   padding: 0;
 }

 .label {
   font-size: 8rem;
   font-family: 'BIZ UDGothic', sans-serif;
   line-height: 6rem;
   margin: 1rem;
   width: 13rem;

 }

 table {
   margin: 30px auto;
   text-align: center;

 }

 body {
   font-family: 'BIZ UDGothic', sans-serif;
   background: linear-gradient(2deg, #6bf5fe, #a95eeb);
   height: 700px;
   overflow: hidden;
 }

 h1 {
   font-size: 45px;
   text-align: center;
   margin: top 50px;
   color: rgb(255, 255, 255);

 }

 td button {
   width: 55px;
   padding: 5px;
   border: 2px solid rgb(213, 230, 214);
   background-color: rgb(205, 178, 230);
   color: rgb(13, 80, 11);
   font-size: 15px;
   border-radius: 15px;
   box-shadow: 0.5rem 0.3rem #807e78;
   cursor: pointer;







 }

 .wrap {
   background-color: rgb(157, 158, 160);
   margin: 10rem;
   height: 220px;
   border-radius: 5rem;
   padding-top: 10px;
   padding-bottom: 45px;
   border: 1px solid black;
   box-shadow: 1rem 0.8rem #302504;

 }